/* ============================================================================================== */
/* GRAPHIC FONT FAMILY */
/* ============================================================================================== */

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'), url("") format('woff'),
    url("") format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'),
    url("") format('woff'), url("") format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'),
    url("") format('woff'), url("") format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'), url("") format('woff'),
    url("") format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'), url("") format('woff'),
    url("") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'), url("") format('woff'),
    url("") format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'), url("") format('woff'),
    url("") format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'), url("") format('woff'),
    url("") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  font-display: block;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'),
    url("") format('woff'), url("") format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'), url("") format('woff'),
    url("") format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'), url("") format('woff'),
    url("") format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik Arabic';
  src: url("") format('woff2'),
    url("") format('woff'), url("") format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Arabic';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Arabic';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Arabic';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Arabic';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Arabic';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Arabic';
  src: url("") format('woff2'),
    url("") format('woff'), url("") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Arabic';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Arabic';
  src: url("") format('woff2'),
    url("") format('woff'),
    url("") format('truetype');
  font-weight: 900;
  font-style: normal;
}
